In [ ]:
abc="hii"
Abc=    "999ii"

print(abc,Abc)
abc==Abc

hii 999ii

In [1]:
_var1 = 10
_var1

10

In [1]:
_var1="Hi"
var1="Hi"
Aar1="Hi"
9Aar1="Hi"
def=0

SyntaxError: invalid decimal literal (2476402338.py, line 4)

In [4]:
if True:
    print("kkk")

kkk

In [12]:
x = 4
y = 'Hello'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:

a=8 # int
f=0.99 #float
y = 'Hello'  #String

In [ ]:
var="Python"

var[0] #P
var[2] #t
var[0:3]    #Pyt'
var[1:]   #'ython'
var[:]    #'Python'
var[-1]   # 'n'
var[:-1]  # 'Pytho'


# string Concate:

str1="Hello"
str2="Worlda"

res=str1 +" " + str2
print(res*3)

Hellow WorldHellow WorldHellow World

In [ ]:
# String Operation:
str1=" Hello World "

#upper()

upp= str1[:-1] + str1[-1].upper()



#lower:
low=str1.lower() #'hello'

rep=str1.replace("el","_kt_")  #'H_kt_lo World'

rep=str1.replace(" ","") #'HelloWorld'

str1.strip()  #'Hello World'

'Hello World'

In [53]:
var="sumit"

sen=f"My name is {var}"

def fun():
    return "heyyyy"
sen=f"My name is {fun()} -- {var}"

sen

'My name is heyyyy -- sumit'

In [48]:
print("Hiii")

Hiii

In [49]:
a=input("enter your name:")
print(f"A is: {a}")

A is: ss

In [11]:
# True, False

# and or not, a^b

print(True and True)
print(True or True)
print(True & True)  #and
print(False | False) #or



print(True ^ False^True) # Xor : odd detector.



print((True and True) and (True and True))

True
True
True
False
False
True

In [ ]:
var1=4
var2=7

c=var1+var2  #-: Subtraction,/:division, //: float division, 

var1=var1+1
var1+=var1   #--> var1+1

lst=["2","3"]

print("2" in lst)
print("4" in lst)

var3="4"
print(var3 is "4")

True
False
True

<>:15: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\122327\AppData\Local\Temp\ipykernel_20608\3807936172.py:15: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print(var3 is "4")

In [ ]:
lst=[]
print(lst)

lst=[1,2,"a",9.0]   
print(lst)



#Access:
lst[0]
lst[1]

print(f"old list:{lst}")
lst[0]="New element"
print(f"new list:{lst}")


# ADD:
lst.append("Append_new_val")

print(f"list after append:{lst}")

lst.insert(2,"Append_new_val at 2")

print(f"list after insert:{lst}")



# remove last element
rem=lst.pop()
lst

rem=lst.pop(0) #takes index

lst.remove(2) #takes value
print(lst)
print(rem)

lst.count('a') #return count of element "a" in lst
len(lst)  # return lenght of lst

[]
[1, 2, 'a', 9.0]
old list:[1, 2, 'a', 9.0]
new list:['New element', 2, 'a', 9.0]
list after append:['New element', 2, 'a', 9.0, 'Append_new_val']
list after insert:['New element', 2, 'Append_new_val at 2', 'a', 9.0, 'Append_new_val']
['Append_new_val at 2', 'a', 9.0]
New element

3

In [39]:
lst_1D=[1,2,3]
lst_2D=[
    [1,2],
    [3,4]
]


print(lst_2D)
print(lst_2D[1][1])

[[1, 2], [3, 4]]
4

In [47]:
print([5])
print((5,))


a=(2,3,4)
print(a)
print(a[0])
print(a.count(3))

[5]
(5,)
(2, 3, 4)
2
1

In [ ]:
s=set()
a={1,2,3,4}
b={4,5,6}


print(a | b)  # Union
print(a & b) # intersection
print(a-b)   # difference.
print(a^b)   # Symmentric Difference

{1, 2, 3, 4, 5, 6}
{4}
{1, 2, 3}
{1, 2, 3, 5, 6}

In [66]:
d={} # Empty dict
d={"name":"sh","no":[2,4.5,7],8:"ak"}


print(d.keys())
print(d.values())
print(d["name"])
print(d.get("name1"))

d["new_key"]=[5,8]

d2={"1":[1,2],"2":[3,4]}

d.update(d2)
d

dict_keys(['name', 'no', 8])
dict_values(['sh', [2, 4.5, 7], 'ak'])
sh
None

{'name': 'sh',
 'no': [2, 4.5, 7],
 8: 'ak',
 'new_key': [5, 8],
 '1': [1, 2],
 '2': [3, 4]}

In [68]:
[1,2] + [4,6,7,8]

[1, 2, 4, 6, 7, 8]

In [67]:
d

{'name': 'sh',
 'no': [2, 4.5, 7],
 8: 'ak',
 'new_key': [5, 8],
 '1': [1, 2],
 '2': [3, 4]}

In [77]:
a=1
b=3
if ((a<b)<9) and True:
    print("true")


print("done")

true
done

In [95]:
if True:
    pass

print("Done")

Done

In [81]:
a=1
b=3
if ((a<b)<9) and False:
    print("true")

elif False:
    print("222")

    
elif False:
    print("333")

else:
    print("44444")

44444

In [ ]:
# Loops:

a=[11,12,13,14,15]

# range: start ,stop ,step
for ix,i in enumerate(a):
    
    if ix==2:
        continue
    
    print(ix,i)

0 11
1 12
3 14
4 15

In [98]:
# Loops:

a=[11,12,13,14,15]

# range: start ,stop ,step
for ix,i in enumerate(a):
    
    if ix==2:
        break
    
    print(ix,i)

0 11
1 12

In [103]:
mat2d=[
    [1,2,3],
    [4,5,6]
]

mat1d =[]

for i in mat2d:
    for j in i:
        mat1d.append(j)

print(mat1d)

[1, 2, 3, 4, 5, 6]

In [ ]:
a=0
while a<10:
    print(a)
    a+=1
    if a==3:
        break

0
1
2

In [ ]:
for i in range(5):
    print("i")

else:
    print("finished")

i
i
i
i
i
finished